<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="bg-success text-white text-center p-3 m-3">
        <h1>{{ model.title }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="input-group mb-3">
        <input class="form-control me-3" type="text" #todoItemText>
        <button class="btn btn-primary" (click)="addItem(todoItemText.value); todoItemText.value=''">Add Item</button>
      </div>
      <div class="form-control mb-3">
        <input class="form-control-input me-3" type="checkbox" [(ngModel)]="isDisplay" id="isDisplay">
        <label class="form-control-label" for="isDisplay">ShowAll</label>
      </div>
    </div>

    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <td></td>
          <td>Description</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of model.items; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ item.description }}</td>

          <td>
            <input type="checkbox" [(ngModel)]="item.status">
          </td>

          <td
           [ngSwitch]="item.status">
            <div *ngSwitchCase="true">Yapıldı</div>
            <div *ngSwitchCase="false">Bekliyor</div>
          </td>

        </tr>
      </tbody>
    </table>

  </div>
</div>
