<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="bg-success text-white text-center p-3 m-3">
        <h1>{{ model.title }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">


    <form [formGroup]="todoForm" (ngSubmit)="addItem()">

      <div class="input-group mb-3">

        <input 
        type="text" 
        class="form-control me-3"
        placeholder="Enter a todo item" 
        formControlName="todoItemText"
        />

        <button 
        type="submit"
        class="btn btn-primary" 
        [disabled]="todoForm.invalid"
        >
        Add Item
        </button>

      </div>

      <div *ngif="todoForm.get('todoItemText')?.invalid && (todoForm.get('todoItemText')?.dirty || todoForm.get('todoItemText')?.touched)">
        <small class="text-danger" *ngif="todoForm.get('todoItemText')?.errors?.required">
          Bu alan gereklidir.
        </small>
        <small class="text-danger" *ngif="todoForm.get('todoForm.get('todoItemText')?.errors?.minlength')">
          En az 3 karakter giriniz.
        </small>
      </div>
    </form>

      <div class="form-control mb-3">
        <input 
        class="form-check-input me-3" 
        type="checkbox" 
        [(ngModel)]="isDisplay" 
        id="isDisplay"
        />
        <label class="form-check-label" for="isDisplay">ShowAll</label>
      </div>
    

    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <td></td>
          <td>Description</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filterItems(); let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ item.description }}</td>

          <td>
            <input type="checkbox" [(ngModel)]="item.status">
          </td>

          <td
           [ngSwitch]="item.status">
            <div *ngSwitchCase="true">Yapıldı</div>
            <div *ngSwitchCase="false">Bekliyor</div>
          >
          </td>

        </tr>
      </tbody>
    </table>

  </div>
</div>
